{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Login {% endblock %}

{% block content %}
<div style="background:#101820FF">
    <h2>Login now!</h2>
    <p style="color:white">Enter you username/password to start "Let's Chat"</p>

    <form action="{{ url_for('login') }}", method="POST">
        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning">
        </div>

        {{ form.csrf_token }}
    </form>

    <hr>
    <p style="display:inline-block; padding-right:60px; color: white" >Don't Have An Account? <a href={{url_for('index')}}>Register here</a>.</p>
</div>
{% endblock %}


